* {
  font-family: 'Lobster', 'cursive';
  font-family: 'Playfair Display', serif;
}

html,
body {
  background-image: url(./bread.png);
  background-size: 100% vh;
}

#searchText {
  width: 40%;
  font-size: 20px;
}

#ingredients {
  margin-top: 0;
}

.daily {
  margin-left: 300px;
}
.random-image {
  max-width: 80%;
}
.image {
  display: grid;
  margin-left: 300px;
}
.header {
  margin-top: 0.01px;
  text-shadow: 1px 2px 2px gray;
}

#topBar {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
}
#searchText,
#searchBtn,
#daily,
.favLink {
  margin: 2px;
}
.container {
  border-radius: 5px;
  border-width: 1px;
  margin-top: 50px;
}

#ingredients {
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 100%;
  font-size: 'Playfair Display', serif;
  display: inline;
}

.section {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  margin: 0 auto;
  max-width: 80%;
  background-color: hsla(8, 89%, 21%, 0.702);
  margin-bottom: 1rem;
  text-align: center;
}

.title {
  flex-basis: 100%;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.image {
  flex-basis: 50%;
  max-width: 50%;
  max-height: 50%;
  display: inline;
  margin: 0 auto;
}
.ingredients {
  flex-basis: 50%;
  margin-top: 0;
  font-size: 20px;
}
#instructions {
  flex-basis: 100%;
  display: block;
  text-size-adjust: 80%;
  text-align: center;
  font-size: 100%;
}
.tags {
  margin-top: 1rem;
}
.removeRandomRecipeBtm {
  display: none;
}
