* {
  font-family: "Lobster", cursive;
  font-family: "Playfair Display", serif;
}

body {
  background-image: url(./bread.png);
  background-size: 100% vh;
}

#ingredients {
  margin-top: 5%;
}

.daily {
  margin-left: 300px;
}
.image {
  display: grid;
  margin-left: 300px;
}
header {
  text-shadow: 1px 2px 2px gray;
}

#topBar {
  z-index: 1;
  position: relative;
}

.section {
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  margin: 0 auto;
  max-width: 80%;
  background-color: #cc4b37b3;
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.image {
  display: block; 
  margin: 0 auto;
}
.ingredients{
  font-size: 2rem;
  font-weight: bold;
}
.instructions{
text-align: center
}

.tags {
  margin-top: 1rem;
}

.instructions {
  margin-top: 0;
}

