* {
  font-family: "Lobster", cursive;
  font-family: "Playfair Display", serif;
}

body {
  background-image: url(./bread.png);
}

#ingredients {
  margin-top: 5%;
}

.daily {
  margin-left: 300px;
}
.image {
  display: grid;
  margin-left: 300px;
}
header {
  text-shadow: 1px 2px 2px gray;
}

