* {
  font-family: "Lobster", cursive;
  font-family: "Playfair Display", serif;
}

body {
  background-image: url(./bread.png);
  background-size: cover;
}

.header {
  margin-top: 12px;
}


   /* Style for locations container */
   #locations-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
  }

  /* Style for pagination container */
  #pagination-container {
    margin-top: 20px;
    text-align: center;
    font-size: large;
    padding: 10px;
    margin: 10px
    }

  .pagination-button {
    display: inline-block;
    margin: 5px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
  }

  .pagination-button:hover {
    background-color: #e8e8e8;
  }

  .pagination-button.active {
    background-color: #ccc;
  }

  .location-item {
    margin-bottom: 20px;
  }
  
  .location-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .location-item p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .images-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .images-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  

  a {
    color: #485fc7;
    cursor: pointer;
    text-decoration: none;
    font-size: x-large;
    font-weight: 400;
    padding: 3px;
    }